<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar">
    <div class="login-box card">
        <div class="card-body">
            <div class="form-horizontal form-material" id="loginform" action="index.html" *ngIf="!loginService.recover">
                <a href="javascript:void(0)" class="text-center db"><img src="{{globalConstants.LOGO_ICON}}"
                        alt="Home" /><br />
                        {{globalConstants.APP_NAME}}
                </a>

                  <div *ngIf="loginService.invalidUser" class="p-3 mb-2 bg-danger text-white mt-5 rounded">{{loginService.msgInvalidUser}}</div>

                  <form [formGroup]="loginService._form">
                       <formly-form [model]="loginService._model" [fields]="loginService._fields" [options]="loginService._options" [form]="loginService._form"></formly-form>
                  </form>




                <div class="form-group row">
                    <div class="col-12 col-md-12">
                        <a id="to-recover" (click)="onClickRecover()" class="btn text-dark pull-right">
                          <i class="fa fa-lock m-r-5"></i>
                            Olvido su contraseña?</a>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-12">
                        <button [disabled]="!loginService._form.valid"
                            class="btn btn-danger btn-lg btn-block text-uppercase btn-rounded"
                            type="submit" (click)="onClickLogin()">
                            Iniciar sesión
                        </button>
                    </div>
                </div>


              </div>


            <!--form class="form-horizontal" id="recoverform" action="index.html" *ngIf="loginService.recover">
                <div class="form-group">
                    <div class="col-12">
                        <h3>Recuperar Contraseña</h3>
                        <p class="text-muted">
                            Enter your Email and instructions will be sent to you!
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12">
                        <input class="form-control" type="text" required="" placeholder="Email" />
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-12">
                        <button  class="btn btn-danger btn-lg btn-block text-uppercase waves-effect waves-light"
                            type="submit">
                            Recuperar
                        </button>
                    </div>
                </div>
            </form-->
        </div>
    </div>
</section>
