
<div *ngIf="officeFormService._fields" [formGroup]="officeFormService._form">
     <formly-form [model]="officeFormService._model" [fields]="officeFormService._fields"
    [options]="officeFormService._options" [form]="officeFormService._form"></formly-form>
</div>

<div class="row mt-3" *ngIf="officeFormService._fields">
  <div class="col-md-2" *ngIf="!modConfig">
    <gpc-button-cancel   (clickEvent)="onCancel()"></gpc-button-cancel>
  </div>

  <div class="col-md-offset-2  col-md-2" *ngIf="!modConfig">
    <gpc-button-delete  [disabled]="officeFormService._model?.id!=''"></gpc-button-delete>
  </div>

  <div class="col-md-2">
    <gpc-button-submit [disabled]="!officeFormService._form.valid" (eventClick)="onSave()"></gpc-button-submit>
  </div>
</div>
