
<div class="card" *ngIf="publicTurnService.noExistTurnLocal$ | async else detail">
  <div class="card-body"  >
    <h3 class="text-center">
      Generar Turno
      <br/>
      <small>{{publicTurnService.office?.name}}</small>
    </h3>
    <gpc-turn-form *ngIf="publicTurnService.load$ | async"
     [public]="true"
     [office]="publicTurnService.office"
     (eventSave)="onSave($event)"
     ></gpc-turn-form>
  </div>

</div>

<ng-template #detail>
  <div class="card">
    <div class="card-body text-center">
      <div class="d-flex">
        <div class="stats">
          <h1 class=""> {{publicTurnService.turn?.area?.key}} - {{publicTurnService.turn?.number}}</h1>
          <h3 class="text-muted">{{publicTurnService.turn?.office?.name}}</h3>
          <qrcode [qrdata]="publicTurnService.turn?.id||''" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      </div>
    </div>
  </div>
</ng-template>
