<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar">
    <div class="login-box card">
        <div class="card-body">
            <div class="form-horizontal form-material" id="loginform" action="index.html">
                <a href="javascript:void(0)" class="text-center db"><img src="{{globalConstants.LOGO_ICON}}"
                        alt="Home" /><br /><img src="{{globalConstants.LOGO_TEXT}}" alt="{{globalConstants.APP_NAME}}" /></a>

                  <div *ngIf="restorePasswordService.invalidUser" class="p-3 mb-2 bg-danger text-white mt-5 rounded">{{restorePasswordService.msgInvalidUser}}</div>

                  <form [formGroup]="restorePasswordService._form">
                       <formly-form [model]="restorePasswordService._model" [fields]="restorePasswordService._fields" [options]="restorePasswordService._options" [form]="restorePasswordService._form"></formly-form>
                  </form>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button [disabled]="!restorePasswordService._form.valid"
                            class="btn btn-danger btn-lg btn-block text-uppercase btn-rounded"
                            type="submit" (click)="onClickRestorePassword()">
                            Restaurar contraseña
                        </button>
                    </div>
                </div>


              </div>
        </div>
    </div>
</section>
