<h2 mat-dialog-title>{{areaFormService._title}} </h2>

  <mat-dialog-content [formGroup]="areaFormService._form">
          <formly-form [model]="areaFormService._model" [fields]="areaFormService._fields"
            [options]="areaFormService._options" [form]="areaFormService._form"></formly-form>
  </mat-dialog-content>

  <mat-dialog-actions>
        <div class="col-3">
          <gpc-button-cancel (clickEvent)="onCancel()"></gpc-button-cancel>
        </div>
        <div class="col-3"></div>
        <div class="col-3">
          <gpc-button-delete [disabled]="areaFormService._model?.id!=''"></gpc-button-delete>
        </div>
        <div class="col-3">
          <gpc-button-submit [disabled]="!areaFormService._form.valid" (eventClick)="onSave()"></gpc-button-submit>
        </div>
  </mat-dialog-actions>

